<%- include('header') %>


<div class="col-sm-10">


  <h1>Title: <%= book.title %></h1>

  <p><strong>Author:</strong>
    <a href="<%= book.author.url %>"><%= book.author.name %></a>
  </p>

  <p><strong>Summary:</strong> <%= book.summary %></p>
  <p><strong>ISBN:</strong> <%= book.isbn %></p>

  <p><strong>Genre:</strong>
    <% book.genre.forEach(function(val, index) { %>
      <a href="<%= val.url %>"><%= val.name %></a>
      <% if (index < book.genre.length - 1) { %>
        ,
      <% } %>
    <% }); %>
  </p>

  <div style='margin-left:20px; margin-top:20px'>
    <h4>Copies</h4>

    <% book_instances.forEach(function(val) { %>
      <hr>
      <% if (val.status == 'Available') { %>
        <p class="text-success"><strong>Status:</strong> <%= val.status %></p>
      <% } else if (val.status == 'Maintenance') { %>
        <p class="text-danger"><strong>Status:</strong> <%= val.status %></p>
      <% } else { %>
        <p class="text-warning"><strong>Status:</strong> <%= val.status %></p>
      <% } %>
      
      <p><strong>Imprint:</strong> <%= val.imprint %></p>

      <% if (val.status != 'Available') { %>
        <p><strong>Due back:</strong> <%= val.due_back %></p>
      <% } %>

      <p><strong>Id:</strong> <a href="<%= val.url %>"><%= val._id %></a></p>
    <% }); %>

    <% if (book_instances.length === 0) { %>
      <p>There are no copies of this book in the library.</p>
    <% } %>
  </div>
  <div>
    <p><a href="<%=book.url + '/update' %>">Update</a></p>
    <p><a href="<%=book.url + '/delete' %>">Delete</a></p>
  </div>
</div>
<%- include('footer') %> 

